<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="userone" class="com.xiaoqi.domain.User">
        <!-- 为User对象中名为name的属性注入tom作为值 -->
        <property name="name" value="tom"></property>
        <property name="age" value="18"></property>
        <!--  对象注入(下方配置的Car对象) -->
        <property name="car" ref="car"></property>
    </bean>

    <!-- 有参数构造函数注入 -->
    <bean name="usertwo" class="com.xiaoqi.domain.User">
        <!--
            index:第几个参数,构造参数排列不同的时候注明序号
            type="java.lang.Integer"  指明参数的类型
         -->
        <constructor-arg name="name" value="jerry" index="0" type="java.lang.String"></constructor-arg>
        <constructor-arg name="car" ref="car"></constructor-arg>
    </bean>

    <!-- 将Car对象配置到容器中 -->
    <bean name="car" class="com.xiaoqi.domain.Car">
        <property name="name" value="兰博基尼"></property>
        <property name="color" value="黄色"></property>
    </bean>

    <!-- p命名空间注入,还是走set方法
        值类型:    p:属性名="值"
        对象类型:   p:属性名-ref="对象"
    -->
    <!--
           xmlns:p="http://www.springframework.org/schema/p"
    -->
    <bean name="userThree" class="com.xiaoqi.domain.User" p:name="jack"
          p:car-ref="car" p:age="13"
    ></bean>

    <!--
        spel注入:spring表达式语言
    -->
    <bean name="userFour" class="com.xiaoqi.domain.User">
        <!--  引用userone的name属性赋值给userFour -->
        <property name="name" value="#{userone.name}"></property>
        <property name="age" value="#{usertwo.age}"></property>
        <property name="car" ref="car"></property>
    </bean>


    <!--
        复杂类型注入(list map Properties)
    -->
    <bean name="cb" class="com.xiaoqi.domain.CollectionBean">

        <!-- 如果数组中只准备注入一个值,用value或者ref都可以 -->
        <!--<property name="arr" value="tom"></property>-->

        <!-- 数组中多个值注入 -->
        <property name="arr">
            <array>
                <value>tom</value>
                <value>jerry</value>
                <ref bean="usertwo"></ref>
            </array>
        </property>

        <property name="list">
            <list>
                <value>haha</value>
                <value>heihei</value>
                <ref bean="usertwo"></ref>
            </list>
        </property>

        <property name="map">
            <map>
                <entry key="hehe" value="haha"></entry>
                <entry key="user" value-ref="usertwo"></entry>
                <entry key="usertwo" value-ref="usertwo"></entry>
            </map>
        </property>

        <property name="prop">
            <props>
                <prop key="driverClass">com.jdbc.mysql.Driver</prop>
                <prop key="userName">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>


    </bean>


</beans>